@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    background-color: #5d9773;
    overflow-x: hidden;
}

header {
    background-color: white;
    padding: 0.5rem 10vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100vw;
}

.header-under {
    height: 51.2px;
}

.title{
    color: #5d9773;
    font-size: 1.5rem;
    font-weight: 700;
    margin: auto 0;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    color: black;
}

.nav-txt:hover {
    color: #5d9773;
    font-weight: 600;
}

.nav-txt-slt {
    color: #5d9773;
    font-weight: 600;
}

.banner{
    background-color: transparent;
    width: 100vw;
    padding: 3rem 0;
}

.big{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.small{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5rem;
}

.ban-form {
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 40px;
    background-color: transparent;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 11px;
}

input[type="submit"] {
    background: white;
    border: 1px solid white;
    border-radius: 88px;
    margin-bottom: 0;
    color: #5d9773;
    font-size: 20px;
    line-height: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

input {
    width: 80%;
    padding: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem 10vw;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.3);
}

.cnt-title {
    text-align: center;
    color: #5d9773;
    font-weight: 800;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.smp-place {
    display: flex;
    justify-content: space-between;
}

.place {
    width: 19vw;
    max-width: 500px;
    min-width: 100px;
    margin: 0;
    border-radius: 16px;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.plc-img {
    width: 100%;
    padding-top: 100%;
    background-color: #E0E0E0;
    text-align: center;
    margin-bottom: 1rem;
}

.name {
    text-align: center;
    color: #5d9773;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.locate {
    text-align: center;
    color: #5d9773;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1rem;
}

.info {
    font-weight: 400;
}

footer {
    padding: 3rem 10vh;
    background-color: transparent;
}
    
.foot-tlt {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.abt-info {
    color: white;
    font-weight: 400;
}

a {
    text-decoration: none;
}

input:hover {
    cursor: pointer;
}