@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.sign-in-form {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.form-txt {
    margin: 0 auto 40px;
    text-align: center;
}

.big {
    font-family: 'Lato';
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    color: #4f4f4f;
}

.small {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #828282;
}

form {
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    padding: 40px;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 11px;
}

input[type="checkbox"] {
    border-radius: 3px;
    background-color: #35ce97;
}

input[type="submit"] {
    background: #35ce97;
    border: 1px solid #35ce97;
    border-radius: 88px;
    margin-bottom: 0;
    color: #f2f2f2;
    font-size: 20px;
    line-height: 24px;
}

input {
    width: 100%;
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.checkbox {
    display: inline-block;
    margin: 0;
    width: 10%;
}

.remember {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 39%;
}

.forgot {
    display: inline-block;
    margin: 0 auto;
    text-align: right;
    width: 49%;
}

.check {
    margin-bottom: 24px;
}

a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #35ce97;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}