.container {
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 200px);
    row-gap: 20px;
    column-gap: 20px;
}

.item {
    border: 1px solid black;
}

.item:nth-child(1) {
    background-color: aliceblue;
    grid-column: 1 / 3;
}

.item:nth-child(2) {
    background-color: antiquewhite;
}

.item:nth-child(3) {
    background-color: aqua;
}

.item:nth-child(4) {
    background-color: aquamarine;
}

.item:nth-child(5) {
    background-color: azure;
}

.item:nth-child(6) {
    background-color: beige;
    grid-row: 2 / 4;
}

.item:nth-child(7) {
    background-color: bisque;
    grid-row: 3 / 5;
}

.item:nth-child(8) {
    background-color: brown;
}

.item:nth-child(9) {
    background-color: blanchedalmond;
}