@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';
}
body{
    background: #E6EAF8;
}
.contents{
    margin: 7vw;
    background: #FFFFFF;
    border-radius: 16px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    gap: 70px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}
.top-txt{
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #151B32;
}
.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;
    border: 1px solid #BFC8E6;
    border-radius: 4px;
    width: 30%;
}
.gg-search{

}
.search-txt{
    border: none;
}
.search-txt:focus{
    border: none;
}
.search-txt::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;
    opacity: 0.7;
}
.nav-slt{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 4px;
}
.nav-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;
    opacity: 0.8;
}
.selected{
    background: #849FFF;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.users-li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    height: 100%;
}
.users-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    height: 100%;
}
.user{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    background: #FBFCFF;
    border-radius: 16px;
    width: calc((100% - 32px) / 3);
    height: 190px;
}
.user:hover{
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
}
.ava{

}
.txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;
}
.name{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #151B32;
}
.address{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #151B32;
}
.tags{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.tag-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
}
.tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #516FD5;
}
.shadow{
    background: #BCC6E7;
    filter: blur(62px);
}